//*Colors

//! maincolors
$color-primary: #202938;
$color-secondary: #0761dc;
$color-tertiary: #ff04ab;
$color-secondary-light: #3379d8;

//!othercolors
$color-bg: #111a23;
$color-white: #fff;
$color-black: #000;
$color-subtitle: #7a7a7a;
$color-filter: #4c5564;
$color-green: rgba(4, 150, 41, 0.993);
$color-orange: #ffa500;
$color-red: rgb(155, 6, 28);
$color-red-dark: rgb(113, 8, 25);
$color-red-light: rgb(164, 27, 47);
$color-purple: rgb(211, 56, 248);
$color-purple-dark: rgb(126, 48, 160);
$color-shadow: #8383ff;
$color-discount: #ffef00;

//*Font-Size
$font-size-sm: 11px;
$font-size-default: 16px;
$font-size-lg: 21px;
$font-size-title: 25px;

//*FontFamily
$Font-Sans: "DM Sans", sans-serif;
$Font-Rubik: "Rubik", sans-serif;
$Font-Poppins: "Poppins", sans-serif;

//*Width
$main-width: 95%;
