.text-white {
  color: $color-white;
  font-size: $font-size-title;
  font-weight: bold;
}

.text-pink {
  color: $color-tertiary;
  font-size: $font-size-title;
  font-weight: bold;
}
.fw-bold {
  font-weight: bold;
}
