//! Best-Content Styles
.best {
  width: 100%;
  margin: 2.5rem 0;
  &__content {
    width: $main-width;
    margin: 0 auto;
    &-main {
      @include Responsive(tabletL) {
        justify-content: flex-end;
        gap: 3rem;
      }
      @include Responsive(phoneL) {
        justify-content: center;
        gap: 6rem;
      }
      width: 100%;
      @include centerizeTag(space-between);
      margin-top: 4rem;
      flex-wrap: wrap;
    }
    &-item {
      @include Responsive(tabletL) {
        width: 30%;
      }
      @include Responsive(phoneL) {
        width: 45%;
      }
      @include Responsive(phone) {
        width: 100%;
      }
      width: 20%;
      @include centerizeTag();
      flex-direction: column;
      position: relative;
    }
    &-picture {
      width: 80%;
      height: 23rem;
      border: 0.5rem solid $color-white;
      border-radius: 2.5rem;
      overflow: hidden;
      z-index: 10;
    }
    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in;
      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
    &-number {
      background: url(/public/images/number.png) no-repeat;
      width: 5rem;
      height: 7rem;
      background-size: 30rem;
      position: absolute;
      top: -3.4rem;
      left: 1.5rem;
      &--1 {
        background-position: 0 0;
      }
      &--2 {
        background-position: -5.6rem 0;
      }
      &--3 {
        background-position: -11.7rem 0;
      }
      &--4 {
        background-position: -18.5rem 0;
      }
      &--5 {
        background-position: -25.5rem 0;
      }
    }
    &-subtitle {
      text-align: center;
      margin-top: 1.5rem;

      &-head {
        color: $color-white;

        margin-top: 1.2rem;
      }
      &-positions {
        margin-top: 0.8rem;
        font-weight: bold;
        font-size: 1.3rem;
      }
      &-position {
        color: $color-subtitle;
      }
      &-rate {
        color: $color-white;
      }
    }
  }
}
