.header {
  width: 100%;
  height: 6rem;
  &__content {
    height: 100%;
    padding: 1rem 0;
    width: $main-width;
    margin: 0 auto;
    @include centerizeTag(flex-end);
    position: relative;
    &-hamburger {
      @include Responsive(tablet) {
        display: flex;
      }
      display: none;
      color: $color-white;
      font-size: 3rem;
      left: 0;
      position: absolute;
      cursor: pointer;
    }
    &-search {
      width: 65%;
      display: flex;
      position: relative;
    }

    &-input {
      height: 100%;
      background-color: $color-primary;
      color: $color-white;
      border: none;
      padding: 1rem 2.5rem;
      border-radius: 2rem;
      font-size: $font-size-sm;
      width: 100%;
    }
    &-circle {
      width: 4rem;
      height: 4rem;
      background-color: $color-secondary;
      color: $color-white;
      border-radius: 100%;
      @include centerizeTag();
      position: absolute;
      top: 0;
      right: 0;
    }
    &-bell {
      height: 100%;
      width: 4.5rem;
      @include centerizeTag();
      position: relative;

      &-icon {
        font-size: 2.5rem;
        color: $color-white;
      }
      &-circle {
        width: 2rem;
        height: 2rem;
        background-color: $color-secondary;
        color: $color-white;
        border-radius: 100%;
        @include centerizeTag();
        font-size: $font-size-sm;
        position: absolute;
        top: -0.2rem;
        right: 0.1rem;
      }
    }

    &-user {
      @include Responsive(phone) {
        display: none;
      }
      @include centerizeTag();
      gap: 0.8rem;

      &-text {
        color: $color-white;
        font-weight: bold;
        text-transform: uppercase;
      }
      &-pic {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 100%;
        border: 0.1rem solid $color-secondary;
        padding: 0.1rem;
      }
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
