.popular {
  width: 100%;
  padding: 2.5rem 0;
  &__content {
    width: $main-width;
    margin: 0 auto;
    &-items {
      @include Responsive(tabletL) {
        justify-content: center;
        gap: 3rem;
      }
      @include centerizeTag(space-between);
      margin-top: 2.5rem;
      flex-wrap: wrap;
    }
    &-item {
      @include Responsive(tabletL) {
        width: 48%;
      }
      @include Responsive(phoneL) {
        width: 100%;
        @include centerizeTag();
      }
      @include Responsive(phone) {
        display: block;
      }

      width: 32%;
    }
    &-image {
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      border-radius: 0.8rem;
      padding: 1.5rem;
      position: relative;
      overflow: hidden;
    }
    &-pic {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0.8rem;
    }

    &-shape {
      width: 20rem;
      height: 100%;
      background-color: $color-secondary;
      position: absolute;
      top: 0;
      right: 0;
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
      transition: all 0.6s ease-in;
      &:hover {
        width: 100%;
        cursor: pointer;
        opacity: 0.7;
      }

      &--1 {
        z-index: 10;
        color: $color-white;
        @include centerizeTag();
        font-size: $font-size-title;
        font-weight: bold;
      }
      &--2 {
        background-color: $color-secondary-light;
        right: 1rem;
      }
    }
    &-info {
      @include centerizeTag(space-between);
      margin: 2rem;
    }
    &-left {
      width: 50%;
    }
    &-title {
      color: $color-white;
      font-size: $font-size-lg;
      font-weight: bold;
    }
    &-description {
      color: $color-white;
      font-size: $font-size-sm;
      margin: 1.5rem 0;
    }
    &-lists {
      @include centerizeTag(flex-start);
      gap: 1.5rem;
    }
    &-circle {
      width: 2rem;
      height: 2rem;
      background-color: $color-primary;
      border-radius: 100%;
      @include centerizeTag();
      box-shadow: 0 0 0.9rem $color-green;

      &-tiny {
        width: 1.2rem;
        height: 1.2rem;
        background-color: $color-green;
        border-radius: 100%;
      }
    }
    &-rate,
    &-online {
      color: $color-white;
      font-size: $font-size-sm;
    }

    &-right {
      width: 50%;
      @include centerizeTag();
      flex-direction: column;
      gap: 1.5rem;
    }
    &-match {
      @include centerizeTag();
      gap: 1rem;
    }
    &-flag {
      width: 1.5rem;
    }
    &-team {
      color: $color-white;
      font-weight: bold;
    }
    &-score {
      color: $color-orange;
      font-weight: bold;
    }
  }
}
