//! DevGames - Streams Sections
.streams {
  width: 100%;
  margin-top: 3.5rem;
  &__content {
    width: $main-width;
    margin: 0 auto;
    &-main {
      @include Responsive(phoneL) {
        flex-direction: column;
        gap: 1rem;
      }
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;
    }

    &-left {
      @include Responsive(phoneL) {
        width: 100%;
      }
      width: 70%;

      background-color: $color-primary;
      border-radius: 1rem;
      padding: 2.5rem;
      position: relative;
      overflow: hidden;
    }
    &-pic {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      position: relative;
      overflow: hidden;

      &:hover {
        cursor: pointer;
        .streams__content-card {
          top: 0;
        }
        .streams__content-img {
          transform: scale(1.2);
        }
      }
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
      transition: all 0.6s ease-in;
    }
    &-card {
      width: 100%;
      height: 100%;
      background: linear-gradient(120deg, #4375b2 39%, #a43337 100%);
      @include centerizeTag();
      font-size: 6rem;
      font-weight: bold;
      color: $color-white;
      letter-spacing: 1.7rem;
      position: absolute;
      top: 100%;
      right: 0;
      transition: all 0.6s ease-in;
      opacity: 0.6;
    }
    &-discount {
      width: 25rem;
      height: 5.5rem;
      background-color: $color-discount;
      clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
      @include centerizeTag();
      font-weight: bold;
      position: absolute;
      top: 1.3rem;
      right: -6.7rem;
      transform: rotate(31deg);
    }

    &-right {
      @include Responsive(phoneL) {
        width: 100%;
        display: flex;
        gap: 1rem;
      }
      @include Responsive(phone) {
        flex-direction: column;
      }
      width: 28%;
    }
    &-item {
      width: 100%;
      height: 49%;
      background-color: $color-primary;
      border-radius: 1rem;
      margin-bottom: 1rem;
      padding: 1.5rem;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
    &-text {
      position: absolute;
      top: 2.5rem;
      left: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    &-title {
      font-size: 1.3rem;
      font-weight: bold;
      color: $color-white;
    }
    &-subtitle {
      font-size: $font-size-sm;
      font-weight: bold;
      color: $color-white;
    }
    &-play {
      width: 4.5rem;
      height: 4.5rem;
      background-color: $color-secondary;
      border-radius: 100%;
      @include centerizeTag();
      @include positionCenter();
      box-shadow: 0 0 1.5rem $color-shadow;
    }
    &-icon {
      color: $color-white;
      font-size: 1.5rem;
    }
  }
}
